VINO_JP_CONFIG_PORT=80
VINO_JP_CONFIG_BLOCK_PC=true
VINO_JP_CONFIG_ENV="private"
VINO_JP_CONFIG_TVGUIDE_API_KEY="tvguide_api_key"
VINO_JP_CONFIG_FASTLY_KEY="tvguide_fastly_key"
VINO_JP_CONFIG_TOKEN_AES="service_token_aes"
VINO_JP_X_CONSUMER_KEY="apikey"
VINO_JP_X_CONSUMER_SECRET="apikey"
VINO_JP_SITE_URL="https://projectrose.cafe"