* {
    font-family: 'nintendo_NTLG-DB_001' !important;
}

body {
    position: relative;
    font-size: 28px;
    width: 854px;
    height: 480px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #323232;
    overflow: hidden;
    background-color: #e6e6e6;
    background-image: url(/img/bg_vino.png);
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
li,
table,
tr,
th,
td {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea {
    font-size: 24px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul,
ol,
menu,
li {
    list-style: none;
}

a {
    color: #006eff;
    text-decoration: none;
}

img {
    border: 0;
    color: #ddd;
}

input,
label,
button {
    cursor: pointer;
}

.none,
.loading-el {
    display: none !important;
}

.show {
    display: block !important;
}

.clear {
    clear: both;
}

.pre-line {
    white-space: pre-line;
}

.header {
    position: absolute;
    width: 854px;
    top: 0;
    -webkit-transform: translateY(0);
    display: -webkit-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 66px;
    background: url(/img/bannerbg1.png) repeat-x;
    z-index: 95;
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA2SURBVChTY/z//78kAwT8ZWRkfAVlYwAmKE0QgBT+heJ/IAH6AUYojQKweZAkz2ADNPcgAwMAOZkP+x8ViUwAAAAASUVORK5CYII=), -webkit-gradient(linear, left top, left bottom, from(#fe846b), color-stop(0.94, #f01e0b), color-stop(0.94, #ffffff), to(#e9e9e9));
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.20);*/
}

.header.pr-details {
    background: -webkit-gradient(linear, left top, left bottom, from(#fd836a), color-stop(0.96, #f0210e), color-stop(0.86, #f0210e), to(#c31000));
    height: 55px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.header.pr-details>span {
    white-space: nowrap;
    color: #fff;
    text-shadow: 0px -1px 0px #db0000, 0px 0px 2px #ab0000;
    font-size: 27px;
    display: block;
    width: 600px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.header .exit {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 75px;
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.40);
    height: 64px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    background: url(/img/exit1.png) 0 0 no-repeat;
}

.header .exit.hover {
    background: url(/img/exit2.png) 0 0 no-repeat;
}

.header .menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 75px;
    height: 64px;
    background: url(/img/menu1.png) 0 0 no-repeat;
    box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.40);
    font-size: 15px;
    text-align: center;
    color: #494949;
    border-bottom-left-radius: 20px;
    padding-left: 4px;
    padding-top: 38px;
    text-shadow: 0px 2px #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header .menu.hover {
    background: url(/img/menu2.png) 0 0 no-repeat;
}

.header .tabs {
    height: 58px;
    display: -webkit-box;
    width: 854px;
}

.header .tabs>a {
    position: relative;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    height: 58px;
    width: 205px;
    margin: 0 18px;
    text-align: left;
    line-height: 1.2;
    font-size: 26px;
    color: #fff;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.header .tabs>a:first-child {
    margin-left: 75px;
}

.header .tabs>a:last-child {
    margin-right: 0;
    margin-left: -10px;
    width: 250px;
    padding-left: 30px;
}

.header .tabs>a.selected {
    background: url(/img/bannerbg2.png) 0 0 repeat-x;
    color: #323232;
    text-shadow: 0px 2px #fff;
}

.header .tabs>a.selected:after {
    content: "";
    position: absolute;
    height: 58px;
    width: 51px;
    background: url(/img/border.png) 0 0 no-repeat;
    top: 0;
    left: 100%;
}

.header .tabs>a.selected:before {
    content: "";
    position: absolute;
    height: 58px;
    width: 51px;
    background: url(/img/border2.png) 0 0 no-repeat;
    top: 0;
    right: 100%;
}

.header .tabs>a.selected:first-child {
    content: none !important;
}

.header .tabs>a.selected:last-child {
    content: none !important;
    background: url(/img/star.png) -5px 10px no-repeat, url(/img/bannerbg2.png) 0 0 repeat-x;
}

.program-list {
    position: absolute;
    width: 427px;
    height: 370px;
    background: url(/img/bgprogram.png) right 0 repeat-y;
    top: 62px;
    right: 0;
    padding-left: 3px;
    padding-right: 64px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}

.program-list .content {
    overflow: hidden;
    height: 370px;
}

.program-list .content .footer {
    position: relative;
    display: -webkit-box;
    -webkit-box-pack: center;
    padding-top: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 138px;
    background: url(/img/separator.png) 0 0 repeat-x;
}

.program-list .content .footer .prev {
    background: url(/img/navi.png);
    background-position: 0px -121px;
    background-repeat: no-repeat;
    width: 57px;
    height: 60px;
    display: block;
}

.program-list .content .footer .prev.disabled {
    background-position: 0 0;
}

.program-list .content .footer .prev.selected {
    background-position: 0px -245px;
}

.program-list .content .footer .next {
    background: url(/img/navi.png);
    background-position: 0px -183px;
    background-repeat: no-repeat;
    width: 57px;
    height: 60px;
    display: block;
}

.program-list .content .footer .next.disabled {
    background-position: 0px -60px;
}

.program-list .content .footer .next.selected {
    background-position: 0px -306px;
}

.program-list .content .footer>span {
    padding: 9px 6px;
    display: block;
    height: 40px;
}

.program-list .content .footer>span>span {
    color: #666666;
}

.program-list .scrollbar {
    position: absolute;
    width: 64px;
    height: 370px;
    top: 0;
    right: 0;
    background: url(/img/separator3.png) 0 0 repeat-y;
}

.program-list .scrollbar .track {
    position: absolute;
    width: 6px;
    height: 302px;
    top: 25px;
    left: 29px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    background: url(/img/track.png) 0 0 no-repeat;
}

.program-list .scrollbar .thumb {
    position: absolute;
    top: 20px;
    left: 12px;
    width: 40px;
    height: 102px;
    z-index: 10;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30);
    background: url(/img/rethumb.png) 0 0 no-repeat;
}

.program-list .program {
    position: relative;
    display: block;
    height: 77px;
    background: url(/img/separator2.png) 0 bottom repeat-x, url(/img/separator.png) 0 0 repeat-x;
    font-size: 15px;
}

.program-list .program span {
    white-space: nowrap;
}

.program-list .tips {
    height: 155px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
}

.program-list .tips span {
    display: block;
    font-size: 16px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.5;
    color: #676767;
}

.program-list .tips span:nth-child(1) {
    letter-spacing: 4px;
    color: #a8a8a8;
}

.program-list .tips span:nth-child(2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.program-list .tips span:nth-child(3) {
    letter-spacing: 4px;
    line-height: 1;
    color: #a8a8a8;
}

.program-list .tips span:nth-child(1)>p {
    display: inline-block;
    letter-spacing: 1px;
    padding-right: 8px;
    padding-left: 6px;
    color: #676767;
}

.program-list .program .genre {
    position: absolute;
    display: block;
    width: 80px;
    height: 60px;
    top: 8px;
    left: 6px;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px -1px 2px #006fc8;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    background-image: url(/img/blue.png);
    background-position: 0 0;
    background-repeat: repeat-x;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.30);
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.program-list .program .genre.news {
    background-image: url(/img/yellow.png);
    text-shadow: 0px -1px 2px #913e00;
}

.program-list .program .genre.movies {
    background-image: url(/img/red.png);
    background-repeat: no-repeat;
    text-shadow: 0px -1px 2px #b60000;
}

.program-list .program .genre.sports {
    background-image: url(/img/green.png);
    text-shadow: 0px -1px 2px #099500;
}

.program-list .program .genre.family {
    background-image: url(/img/purple.png);
    text-shadow: 0px -1px 2px #7c0095;
}

.program-list .program>span {
    padding-left: 92px;
    padding-right: 5px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.45;
    color: #323232;
}

.program-list .program .station {
    padding-top: 7px;
    font-size: 12px;
    color: #919191 !important;
}

.program-list .program .title {
    font-size: 18px;
}

.program-list .program .info {
    font-size: 13px;
    padding-top: 1px;
    color: #ff59bd !important;
}

.program-list .program .info>.tagn,
.program-list .program .info>.tagl,
.program-fulldetails-page .program-details .channel-detail .prinfo>.tagn,
.program-fulldetails-page .program-details .channel-detail .prinfo>.tagl {
    background: #ff5dc1;
    color: #fff;
    padding: 0 3px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.program-list .program .info>.cc {
    padding: 0 3px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    font-size: 12px;
    margin-right: 5px;
    border: 1px solid #000;
}

.program-list .program .info>.tagl,
.program-fulldetails-page .program-details .channel-detail .prinfo>.tagl {
    background: #ff8b18;
}

.program-info {
    position: absolute;
}

.program-info .tvguide-logo {
    top: 71px;
    position: absolute;
    left: 25px;
    z-index: 12;
}

.program-details {
    position: absolute;
    top: 100px;
    left: 19px;
    width: 390px;
}

.program-details .program-airing {
    position: relative;
    display: block;
    width: 390px;
    min-height: 120px;
}

.program-details .program-description {
    position: relative;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    width: 390px;
    height: 170px;
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: 10px;
}

.program-details .program-description p {
    font-size: 17px;
    padding-left: 14px;
    padding-right: 14px;
    text-align: left;
    max-height: 165px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.program-details .program-airing .date {
    display: block;
    width: 390px;
    height: 33px;
    font-size: 20.5px;
    line-height: 1.65;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-shadow: 0px -2px rgba(0, 0, 0, 0.21);
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background: url(/img/datetop.png) repeat-x;
}

.program-details .channel-detail {
    background: #fff;
    padding-top: 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

.program-details .program-airing .chlogo {
    float: left;
    padding-left: 10px;
    height: 56px;
    width: 56px;
}


.program-details .program-airing .pname,
.program-details .program-airing .pepisode {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 304px;
    height: 32px;
    line-height: 1.6;
}

.program-details .program-airing .channel-detail.no-episode .pname {
    height: 60px;
    font-size: 20px;
    line-height: 2.7;
}

.program-details .program-airing .channel-detail.no-episode .pepisode {
    display: none !important;
}

.program-details .program-airing .pepisode {
    font-size: 16px;
    line-height: 1.2;
    height: 28px;
}

.program-details .program-airing .chnum {
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #969696;
    height: 28px;
    line-height: 2;
    clear: both;
    background: url(/img/separator4.png) 0 0 no-repeat;
    position: relative;
}

.bottom {
    height: 55px;
    position: absolute;
    -webkit-transform: translateY(0);
    display: -webkit-box;
    -webkit-box-align: end;
    bottom: 0;
    left: 0;
    width: 854px;
    background: url(/img/bottom_bg.png) 0 bottom repeat-x;
}

.bottom>span {
    color: #4c4c4c;
    text-shadow: 0px 1px #fff;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    text-align: center;
    height: 51px;
}

.bottom .clock {
    float: right;
    width: 154px;
    height: 51px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #fff;
    box-shadow: -1px 0px #878787;
    position: relative;
}

.bottom .clock .date {
    font-size: 13px;
    top: 7px;
    left: 4px;
    position: absolute;
}

.bottom .clock .day {
    position: absolute;
    font-size: 13px;
    top: 26px;
    line-height: 1.4;
    left: 4px;
    text-align: center;
    min-width: 40px;
    background: #949494;
    color: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.bottom .clock .day.sat {
    background: #0070ff;
}

.bottom .clock .day.dom {
    background: #f00000;
}

.bottom .clock .sep {
    position: absolute;
    font-size: 13px;
    top: 13px;
    font-weight: bold;
    width: 20px;
    text-align: center;
    line-height: 1;

}

.bottom .clock .sep {
    position: absolute;
    font-size: 13px;
    top: 13px;
    font-weight: bold;
    width: 20px;
    text-align: center;
    line-height: 1;
    word-break: break-word;
    left: 49px;
}

.bottom .clock .hour {
    position: absolute;
    font-size: 26px;
    top: 6px;
    left: 66px;
}

.setup-modal-container {
    overflow: hidden;
    width: 854px;
    padding: 0;
    margin: 0;
    height: 480px;
    position: relative;
}

.setup-modal {
    min-height: 480px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 854px;
    position: relative;
    padding: 30px 60px;
}

.dialog-container {
    width: 100%;
    min-height: 420px;
    background: url(/img/dialog-bg.png) 0 0 no-repeat #f9f9f9;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.30);
}

.dialog-container h1 {
    color: #ff2a2a;
    font-size: 30px;
    padding: 8px 35px;
    padding-top: 14px;
}

.dialog-container>div>p,
.dialog-container>p {
    padding: 0px 35px;
    padding-bottom: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 23px;
}

#setup-modal-1 .dialog-container h1 {
    background: url(/img/tvii_setup_1.png) center bottom no-repeat;
    padding-bottom: 100px;
}

#setup-modal-3 .dialog-container>p,
#setup-modal-4 .dialog-container>p,
#setup-modal-5 .dialog-container>p {
    padding-bottom: 10px;
}

.zip-canada {
    margin-top: -15px;
    min-height: 175px;
}

.zip-canada p {
    font-size: 22px;
    margin: 0 40px;
    text-shadow: 0px 2px #fff;
    padding-bottom: 16px;
    color: #787878;
}

.zip-canada label {
    font-size: 23px;
    padding: 0 4px;
}

.zip-canada select {
    width: 90px;
    height: 50px;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 22px;
    border: 2px solid #cccccc;
}

.zip-canada select#ca-city {
    width: 255px;
}

.zip-canada select#ca-city-page {
    width: 75px;
}

#setup-modal-6 .mii {
    background: #fff;
    width: 128px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 3px #c7c7c7;
    -webkit-box-shadow: 0px 0px 0px 3px #c7c7c7;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 40px;
    height: 128px;
    position: relative;
}

#setup-modal-6 .mii img {
    position: absolute;
    top: 0;
    left: 0;
}

.dialog-buttons {
    position: relative;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    padding-bottom: 30px;
}

.dialog-buttons>a {
    display: -webkit-box;
    position: relative;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    width: 280px;
    height: 54px;
    font-size: 23px;
    line-height: 1.1;
    background: url(/img/button-bg.png) 0 bottom repeat-x, #fff;
    box-sizing: border-box;
    color: #323232;
    text-shadow: 0px 2px #fff;
    padding: 4px;
    margin: 0 14px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    -webkit-border-radius: 8px;
}

.dialog-buttons>a.disabled {
    -webkit-opacity: 0.5;
    opacity: 0.5;
}

.dialog-buttons>a.black {
    color: #fff;
    text-shadow: 0px -2px #323232;
    background: url(/img/button-bg-black.png) 0 bottom no-repeat, #808080;
}

.zipcode-input {
    min-height: 155px;
}

.zipcode-input .zip-usa {
    width: 320px;
    height: 70px;
    background: url(/img/zipcode-input.png) 0 0 no-repeat;
    border: 2px solid #8a8a8a;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 34px;
    color: #323232;
    text-align: center;
}

.tvproviders {
    width: 600px;
    margin: auto;
    min-height: 98px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #f3f3f3;
    border: 2px solid #b0b0b0;
}

.tvproviders .providertypes {
    display: -webkit-box;
    -webkit-box-pack: center;
    border-bottom: 2px solid #9e9e9e;
    box-shadow: 0px 1px #fff;
    position: relative;
    background: url("/img/providertype-bg.png") 0 0 repeat-x;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tvproviders .providertypes>a {
    color: #323232;
    height: 50px;
    position: relative;
    font-size: 23px;
    box-sizing: border-box;
    border-right: 2px solid #9e9e9e;
    -webkit-box-pack: center;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    box-shadow: 1px 0px #fff;
    -webkit-box-shadow: 1px 0px #fff;
    text-shadow: 0px 2px #f4f4f4;
}

.tvproviders .providertypes>a.selected {
    background: #efefef;
    text-shadow: 0px -2px #ffffff;
}

.tvproviders .providertypes>a.selected:first-child {
    border-top-left-radius: 10px;
}

.tvproviders .providertypes>a.selected:last-child {
    border-top-right-radius: 10px;
}

.tvproviders .providertypes>a:last-child {
    border-right: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.tvproviders>a {
    display: -webkit-box;
    -webkit-box-align: start;
    -webkit-box-orient: vertical;
    width: 100%;
    text-align: left;
    padding: 8px 10px;
    line-height: 1.4;
    font-size: 22px;
    box-sizing: border-box;
    color: #323232;
    border-bottom: 1px solid #ababab;
    position: relative;
}

.tvproviders>a.selected {
    background: #ffbaba;
}

.tvproviders>a.selected>span {
    color: #a10000;
}

.tvproviders>a>span {
    font-size: 19px;
    color: #979797;
}

.tvproviders>a:last-child,
.tvproviders>a.last {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: none;
}

.social-buttons {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
}

.about-x {
    font-size: 16px !important;
    width: 650px;
    margin: auto;
    color: #575757;
    padding-bottom: 14px !important;
}

.social-buttons a {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    padding-left: 70px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
    text-align: left;
    line-height: 1.2;
    text-shadow: 0px -2px rgba(0, 0, 0, 0.20);
    width: 420px;
    border-radius: 5px;
    margin: 7px 0px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35);
    min-height: 55px;
    font-size: 24px;
}

.social-buttons a.login-x {
    border: 1px solid #000;
    background: url(/img/xlogo.png) 14px center no-repeat, url(/img/xbutton.png) 0 bottom repeat-x #4f4f4f;
}

.social-buttons a.login-bsky {
    border: 1px solid #0051b1;
    background: url(/img/bsky.png) 14px center no-repeat, url(/img/bskybutton.png) 0 bottom repeat-x #8ec4ff;
}

.setup-modal#x-login {
    background: url(/img/xlogo-modal.png) center 40px no-repeat, #000;
    height: 480px;
}

.setup-modal#x-login .form {
    margin-top: 140px;
}

.setup-modal#x-login .form>p {
    color: #fff;
    font-size: 25px;
    text-align: center;
}

.setup-modal#x-login .logged-in {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding: 20px 0px;
}

.setup-modal#x-login .logged-in span:first-child,
.setup-modal#x-login .logged-in .username {
    font-size: 25px;
}

.setup-modal#x-login .logged-in .display-name {
    font-size: 35px;
    padding: 5px 0px;
    min-height: 110px;
}

.setup-modal#x-login .logged-in span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.setup-modal#x-login .form>.code {
    display: block;
    text-align: center;
    width: 230px;
    color: #fff;
    height: 65px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 36px;
    padding: 5px;
    text-shadow: 0px -2px rgba(0, 0, 0, 0.20);
    box-shadow: 0px -2px 1px 0px #d2d2d2, 0px 1px 1px 1px #b3b3b3;
    -webkit-box-shadow: 0px -2px 1px 0px #d2d2d2, 0px 1px 1px 1px #b3b3b3;
    background: rgba(255, 255, 255, 0.25);
    margin: 30px auto;
}

.setup-modal#bsky-login {
    height: 480px;
    background: url(/img/bluesky-logo.png) center 44px no-repeat, url(/img/bskymodal-bg.png) 0 0 no-repeat, #084585;
}

.setup-modal#bsky-login .logged-in {
    margin-top: 20px;
}

.setup-modal#bsky-login span {
    padding: 2px 0px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 26px;
}

.setup-modal#bsky-login .display-name {
    font-size: 35px;
}

.setup-modal#bsky-login .dialog-buttons {
    padding-bottom: 0px;
}

.setup-modal#bsky-login .form {
    margin-top: 125px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    margin-bottom: 30px;
}

.setup-modal#bsky-login .form input {
    display: block;
    width: 400px;
    position: relative;
    border-radius: 5px;
    border: 2px solid #afafaf;
    height: 50px;
    margin: 10px 0px;
    box-sizing: border-box;
    font-size: 22px;
    padding: 6px 10px;
}

.setup-modal#bsky-login .form>p {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    max-width: 700px;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.40);
}

.program-fulldetails-page .prev-page {
    position: absolute;
    height: 120px;
    width: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background: rgba(255, 255, 255, 0.3);
    left: 0;
    top: 180px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.program-fulldetails-page .next-page {
    position: absolute;
    height: 120px;
    width: 60px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    background: rgba(255, 255, 255, 0.3);
    right: 0;
    top: 180px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.program-fulldetails-page .prev-page.hover {
    background: rgba(255, 255, 255, 0.0);
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
    left: -2px;
}

.program-fulldetails-page .next-page.hover {
    background: rgba(255, 255, 255, 0.0);
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
    right: -2px;
}

.program-fulldetails-page .content {
    height: 370px;
    position: relative;
    top: 57px;
    overflow: hidden;
    display: -webkit-box;
}

.program-fulldetails-page .program-details {
    top: 22px;
    display: block;
    position: relative;
}

.program-fulldetails-page .program-details .channel-detail {
    padding-top: 5px;
    height: 92px;
    background-size: auto 88px;
}

.program-fulldetails-page .program-details .channel-detail .deco {
    position: absolute;
    top: 116px;
    left: 0;
    color: #cfcfcf;
    font-size: 19.9px;
    line-height: 0;
    height: 10px;
}

.program-fulldetails-page .program-image {
    margin-top: 50px;
    margin-left: 20px;
    width: 400px;
    background: url(/img/tvii-logo.png) no-repeat center center, #d3d3d3;
    height: 225px;
    box-shadow: 0px 1px 2px 1px #c1c1c1;
    margin-right: 0px;
}

.program-fulldetails-page .program-image img {
    display: block;
    margin: auto;
    max-width: 400px;
    height: 225px;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(1, rgba(255, 255, 255, 0.5)), color-stop(0.75, rgba(255, 255, 255, 0.0)), to(rgba(255, 255, 255, 0.0)));
}

.program-fulldetails-page .program-details .channel-detail .chname {
    font-size: 18px;
    float: left;
    width: 310px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    display: block;
}

.program-fulldetails-page .program-details .channel-detail .prinfo,
.program-fulldetails-page .program-details .channel-detail .scoreinfo {
    font-size: 14px;
    float: left;
    height: 22px;
    width: 310px;
    padding-top: 2px;
    color: #969696;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    display: block;
}

.program-fulldetails-page .program-details .channel-detail .scoreinfo {
    overflow: visible;
}

.program-fulldetails-page .program-details .channel-detail .chnumber {
    left: 0;
    top: 95px;
    width: 75px;
    color: #969696;
    font-size: 12px;
    position: absolute;
    text-align: center;
}

.program-fulldetails-page .program-details .channel-detail .prinfo {
    color: #848484;
    font-size: 15px;
}

.program-fulldetails-page .program-details .channel-detail .scoreinfo .metascore {
    background: #09a700;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    padding: 3px;
    border-radius: 2px;
}

.program-fulldetails-page .program-details .channel-detail .scoreinfo .metascore.yellow {
    background: #ffc90d;
}

.program-fulldetails-page .program-details .channel-detail .scoreinfo .metascore.red {
    background: #ff3b3b;
}

.program-fulldetails-page .program-details .program-airing {
    height: 120px;
}

.program-fulldetails-page .program-details .program-description {
    margin-top: 0;
    -webkit-box-orient: vertical;
    height: 200px;
}

.program-fulldetails-page .program-details .program-description>p {
    padding-top: 3px;
}

.program-fulldetails-page .program-details .program-description>span {
    font-size: 18px;
    line-height: 1.4;
    padding-left: 14px;
    width: 390px;
    -webkit-box-sizing: border-box;
    text-align: left;
    box-sizing: border-box;
    padding-right: 14px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.bottom.prfuldet .explain {
    display: none;
}

.bottom .miiverse-preview img {
    height: 45px;
    position: relative;
    top: 8px;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 19px;
    background: #fff;
}

.bottom .miiverse-preview span {
    width: 355px;
    height: 38px;
    position: relative;
    top: 10px;
    color: #323232;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    font-size: 18px;
    padding: 0 10px;
    line-height: 2;
    background: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.bottom .miiverse-preview:before {
    content: "";
    position: absolute;
    left: 57px;
    top: 17px;
    background: url(/img/bgarrow.png) 0 0 no-repeat;
    width: 16px;
    height: 24px;
    z-index: 1;
}

.bottom .miiverse-preview {
    display: -webkit-box;
    -webkit-box-flex: 1;
    position: relative;
}

.bottom .miiverse-button {
    position: relative;
    display: -webkit-box;
}

.bottom .back {
    display: none;
    background: url(/img/back1.png) 0 0 no-repeat;
    font-size: 0;
    height: 65px;
    float: left;
    width: 85px;
    position: relative;
}

.bottom .tune-in {
    display: block;
    position: relative;
    height: 65px;
    width: 75px;
    color: transparent;
    font-size: 22px;
    border-top-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    background: url(/img/remoteb1.png) 0 0 no-repeat;
}

.bottom .tune-in.hover {
    background: url(/img/remoteb2.png) 0 0 no-repeat;
}

.bottom.prfuldet .back {
    display: block;
}

.program-fulldetails-page .program-details .program-description>p {
    width: 390px;
    -webkit-box-sizing: border-box;
}

.program-fulldetails-page .program-extra {
    top: 22px;
    margin-left: 60px;
    position: relative;
    display: -webkit-box;
}

.program-fulldetails-page .program-extra .info {
    width: 400px;
    background: #fff;
    padding-top: 15px;
    height: 80px;
    margin-right: 30px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.program-fulldetails-page .program-extra .info>span {
    display: -webkit-box;
    font-size: 16px;
    width: 370px;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 2px solid #ff5e5e;
    -webkit-border-radius: 4px;
    white-space: nowrap;
}

.program-fulldetails-page .program-extra .info>span .label {
    background: #ff5e5e;
    display: block;
    padding: 0 6px;
    height: 100%;
    color: #fff;
}

.program-fulldetails-page .program-extra .info>span:nth-child(2) {
    border-color: #ff9393;
}

.program-fulldetails-page .program-extra .info>span:nth-child(2) .label {
    background: #ff9393;
}

.program-fulldetails-page .program-extra .info>span .text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    padding: 0 6px;
    -webkit-box-flex: 1;
}

.program-fulldetails-page .program-extra .related-buttons {
    width: 380px;
    height: 320px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-right: 30px;
}

.program-fulldetails-page .program-extra .related-buttons>a {
    position: relative;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background: #fff;
    color: #323232;
    font-size: 21px;
    margin-bottom: 13px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 46px;
    box-shadow: inset 0px -1px 2px 1px #b5b5b5, 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.75, #f9f9f9), to(#d9d9d9));
    text-shadow: 0px 2px #fff;
}

.program-fulldetails-page .program-extra .related-buttons>a:first-child {
    height: 52px;
}

.program-fulldetails-page .program-extra .related-buttons>a.disabled {
    background: #c2c2c2;
    box-shadow: none;
    color: #818181;
    text-shadow: 0px 2px #e8e8e8;
}

.program-fulldetails-page .program-extra .related-buttons>a {}

.program-fulldetails-page .program-extra .related-buttons .sep {
    display: block;
    height: 1px;
    background: #a8a8a8;
    box-shadow: 0px 1px #fff;
    margin-bottom: 15px;
}