* {
    font-family: "nintendo_NTLG-DB_001" !important;
}

body {
    position: relative;
    font-size: 28px;
    width: 854px;
    height: 480px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #323232;
    background: url(/img/bg_vino.png) #d4d4d4;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
li,
table,
tr,
th,
td {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea {
    font-size: 24px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul,
ol,
menu,
li {
    list-style: none;
}

a {
    color: #006eff;
    text-decoration: none;
}

img {
    border: 0;
    color: #ddd;
}

input,
label,
button {
    cursor: pointer;
}

.none,
.loading-el {
    display: none !important;
}

.show {
    display: block !important;
}

.clear {
    clear: both;
}

.pre-line {
    white-space: pre-line;
}

.header {
    position: absolute;
    width: 854px;
    top: 0;
    display: -webkit-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 66px;
    background: url(/img/bannerbg1.png) repeat-x;
    z-index: 5;
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA2SURBVChTY/z//78kAwT8ZWRkfAVlYwAmKE0QgBT+heJ/IAH6AUYojQKweZAkz2ADNPcgAwMAOZkP+x8ViUwAAAAASUVORK5CYII=), -webkit-gradient(linear, left top, left bottom, from(#fe846b), color-stop(0.94, #f01e0b), color-stop(0.94, #ffffff), to(#e9e9e9));
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.20);*/
}

.header .exit {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 85px;
    height: 76px;
    background: url(/img/exit1.png) 0 0 no-repeat;
}

.header .exit.hover {
    background: url(/img/exit2.png) 0 0 no-repeat;
}

.header .menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 85px;
    height: 76px;
    background: url(/img/men1.png) 0 0 no-repeat;
    font-size: 14px;
    text-align: center;
    color: #494949;
    padding-left: 12px;
    padding-top: 38px;
    text-shadow: 0px 1px #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header .menu.hover {
    background: url(/img/men2.png) 0 0 no-repeat;
}

.header .tabs {
    height: 58px;
    display: -webkit-box;
    width: 854px;
}

.header .tabs > a {
    position: relative;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    height: 58px;
    width: 205px;
    margin: 0 18px;
    text-align: left;
    line-height: 1.2;
    font-size: 26px;
    color: #fff;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.header .tabs > a:first-child {
    margin-left: 75px;
}

.header .tabs > a:last-child {
    margin-right: 93px;
}

.header .tabs > a.selected {
    background: url(/img/separator2.png);
    color: #323232;
    text-shadow: 0px 2px #fff;
}

.header .tabs > a.selected:after {
    content: "";
    position: absolute;
    height: 58px;
    width: 57px;
    background: url(/img/border.png) 0 0 no-repeat;
    top: 0;
    left: 100%;
}

.header .tabs > a.selected:before {
    content: "";
    position: absolute;
    height: 58px;
    width: 57px;
    background: url(/img/border2.png) 0 0 no-repeat;
    top: 0;
    right: 100%;
}

.program-list {
    position: absolute;
    width: 427px;
    height: 374px;
    background: url(/img/bgprogram.png) right 0 no-repeat;
    top: 62px;
    right: 0;
    padding-left: 3px;
    padding-right: 64px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}

.program-list .content {
    overflow: hidden;
    height: 370px;
}

.program-list .scrollbar {
    position: absolute;
    width: 64px;
    height: 370px;
    top: 0;
    right: 0;
    background: url(/img/separator3.png) 0 0 repeat-y;
}

.program-list .scrollbar .track {
    position: absolute;
    width: 6px;
    height: 302px;
    top: 25px;
    left: 29px;
    background: url(/img/track.png) 0 0 no-repeat;
}

.program-list .scrollbar .thumb {
    position: absolute;
    top: 20px;
    left: 8px;
    width: 50px;
    height: 110px;
    z-index: 10;
    background: url(/img/rethumb.png) 0 0 no-repeat;
}

.program-list .program {
    position: relative;
    display: block;
    height: 77px;
    background:
        url(/img/separator2.png) 0 bottom repeat-x,
        url(/img/separator.png) 0 0 repeat-x;
    font-size: 15px;
}

.program-list .tips {
    height: 155px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
}

.program-list .tips span {
    display: block;
    font-size: 16px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.5;
    color: #676767;
}

.program-list .tips span:nth-child(1) {
    letter-spacing: 4px;
    color: #a8a8a8;
}

.program-list .tips span:nth-child(2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.program-list .tips span:nth-child(3) {
    letter-spacing: 4px;
    line-height: 1;
    color: #a8a8a8;
}

.program-list .tips span:nth-child(1) > p {
    display: inline-block;
    letter-spacing: 1px;
    padding-right: 8px;
    padding-left: 6px;
    color: #676767;
}

.program-list .program .icon {
    position: absolute;
    display: block;
    width: 80px;
    height: 62px;
    top: 8px;
    left: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px;
}

.program-list .program .icon.channel {
    padding: 0;
    background: #fff;
}

.program-list .program .icon.channel img {
    display: block;
    margin: auto;
    position: relative;
    top: -2px;
}

.program-list .program .icon.genre {
    background: #ff4343;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.program-list .program .icon.genre.family {
    background: #ff84f5;
}

.program-list .program .icon.genre.news {
    background: #45f15f;
}

.program-list .program span {
    padding-left: 92px;
    padding-right: 5px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.45;
    color: #323232;
}

.program-list .program .icon.genre span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-all;
    text-align: center;
    color: #fff;
    line-height: 1.32;
    padding: 0;
    text-overflow: inherit;
    text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
}

.program-list .program .station {
    padding-top: 8px;
    font-size: 12px;
    color: #919191 !important;
}

.program-list .program .title {
    font-size: 18px;
}

.program-list .program .info {
    font-size: 13px;
    color: #ff59bd !important;
}

.program-info {
    position: absolute;
}

.program-info .tvguide-logo {
    top: 72px;
    position: absolute;
    left: 25px;
    z-index: 12;
}

.program-info .program-details {
    position: absolute;
    top: 102px;
    left: 19px;
    width: 390px;
}

.program-info .program-details .program-airing {
    position: relative;
    display: block;
    width: 390px;
    min-height: 100px;
}

.program-info .program-details .program-description {
    position: relative;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    width: 390px;
    height: 180px;
    background:
        url(/img/top.png) 0 0 no-repeat,
        url(/img/bottom.png) 0 bottom no-repeat,
        url(/img/center.png) 0px 18px repeat-x;
    margin-top: 10px;
}

.program-info .program-details .program-description p {
    font-size: 17px;
    padding-left: 14px;
    padding-right: 14px;
    text-align: left;
    max-height: 165px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

.program-info .program-details .program-airing .date {
    display: block;
    width: 390px;
    height: 33px;
    font-size: 20px;
    line-height: 1.65;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-shadow: 0px -2px rgba(0, 0, 0, 0.15);
    color: #fff;
    background: url(/img/datetop.png) 0 0 no-repeat;
}

.program-info .program-details .channel-detail {
    background: url(/img/chnamebg.png) 0 0 repeat-x;
}

.program-info .program-details .program-airing .chlogo {
    float: left;
    padding-left: 10px;
    height: 56px;
    width: 56px;
}

.program-info .program-details .program-airing .chname {
    font-size: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    width: 370px;
    height: 45px;
    line-height: 2.45;
    padding-left: 10px;
    padding-right: 10px;
}

.program-info .program-details .program-airing .chlogo + .chname {
    width: 304px;
    height: 56px;
    line-height: 3;
}

.program-info .program-details .program-airing .chnum {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #969696;
    height: 28px;
    line-height: 2;
    clear: both;
    background:
        url(/img/separator4.png) 0 0 no-repeat,
        url(/img/bottom.png) 0 bottom no-repeat;
    position: relative;
}

.bottom {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 854px;
    background: url(/img/bottom_bg.png) 0 bottom repeat-x;
}

.setup-modal-container {
    background: rgba(0, 0, 0, 0.25);
    overflow: hidden;
    width: 854px;
    padding: 0;
    margin: 0;
    height: 480px;
    position: relative;
}

.setup-modal {
    min-height: 480px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 854px;
    position: relative;
    padding: 30px 60px;
}

.dialog-container {
    width: 100%;
    min-height: 420px;
    background: url(/img/dialog-bg.png) 0 0 no-repeat #f9f9f9;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
}

.dialog-container h1 {
    color: #ff2a2a;
    font-size: 30px;
    padding: 8px 35px;
    padding-top: 14px;
}

.dialog-container > p {
    padding: 0px 35px;
    padding-bottom: 30px;
    min-height: 244px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 23px;
}

#setup-modal-1 .dialog-container h1 {
    background: url(/img/tvii_setup_1.png) center bottom no-repeat;
    padding-bottom: 100px;
}

#setup-modal-1 .dialog-container > p,
#setup-modal-2 .dialog-container > p,
#setup-modal-3 .dialog-container > p,
#setup-modal-4 .dialog-container > p {
    min-height: initial;
}

#setup-modal-3 .dialog-container > p,
#setup-modal-4 .dialog-container > p {
    padding-bottom: 10px;
}

.dialog-buttons {
    position: relative;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    padding-bottom: 30px;
}

.dialog-buttons > a {
    display: -webkit-box;
    position: relative;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    width: 280px;
    height: 54px;
    font-size: 23px;
    line-height: 1.1;
    background:
        url(/img/button-bg.png) 0 bottom repeat-x,
        #fff;
    box-sizing: border-box;
    color: #323232;
    text-shadow: 0px 2px #fff;
    padding: 4px;
    margin: 0 14px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.35);
    border-radius: 8px;
}

.dialog-buttons > a.disabled {
    -webkit-opacity: 0.5;
    opacity: 0.5;
}

.dialog-buttons > a.black {
    color: #fff;
    text-shadow: 0px -2px #323232;
    background:
        url(/img/button-bg-black.png) 0 bottom no-repeat,
        #808080;
}

.zipcode-input {
    min-height: 155px;
}

.zipcode-input .zip-usa {
    width: 320px;
    height: 70px;
    background: url(/img/zipcode-input.png) 0 0 no-repeat;
    border: 2px solid #8a8a8a;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 34px;
    color: #323232;
    text-align: center;
}

.tvproviders {
    width: 600px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #f3f3f3;
    border: 2px solid #b0b0b0;
}

.tvproviders .providertypes {
    display: -webkit-box;
    -webkit-box-pack: center;
    border-bottom: 2px solid #9e9e9e;
    box-shadow: 0px 1px #fff;
    position: relative;
    background: url("/img/providertype-bg.png") 0 0 repeat-x;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tvproviders .providertypes > a {
    color: #323232;
    height: 50px;
    position: relative;
    font-size: 23px;
    box-sizing: border-box;
    border-right: 2px solid #9e9e9e;
    -webkit-box-pack: center;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    box-shadow: 1px 0px #fff;
    text-shadow: 0px 2px #f4f4f4;
}

.tvproviders .providertypes > a.selected {
    background: #efefef;
    text-shadow: 0px -2px #ffffff;
}

.tvproviders .providertypes > a.selected:first-child {
    border-top-left-radius: 10px;
}

.tvproviders .providertypes > a.selected:last-child {
    border-top-right-radius: 10px;
}

.tvproviders .providertypes > a:last-child {
    border-right: none;
    box-shadow: none;
}

.tvproviders > a {
    display: -webkit-box;
    -webkit-box-align: start;
    -webkit-box-orient: vertical;
    width: 100%;
    text-align: left;
    padding: 8px 10px;
    line-height: 1.4;
    font-size: 22px;
    box-sizing: border-box;
    color: #323232;
    border-bottom: 1px solid #ababab;
    position: relative;
}

.tvproviders > a.selected {
    background: #ffbaba;
}

.tvproviders > a.selected > span {
    color: #a10000;
}

.tvproviders > a > span {
    font-size: 19px;
    color: #979797;
}

.tvproviders > a:last-child,
.tvproviders > a.last {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: none;
}

.social-buttons {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
}

.about-x {
    font-size: 16px !important;
    width: 650px;
    margin: auto;
    color: #575757;
    padding-bottom: 14px !important;
}

.social-buttons a {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    padding-left: 70px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
    text-align: left;
    line-height: 1.2;
    text-shadow: 0px -2px rgba(0, 0, 0, 0.2);
    width: 420px;
    border-radius: 5px;
    margin: 7px 0px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.35);
    min-height: 55px;
    background: #fff;
    font-size: 24px;
}

.social-buttons a.login-x {
    border: 1px solid #000;
    background:
        url(/img/xlogo.png) 14px center no-repeat,
        url(/img/xbutton.png) 0 bottom repeat-x #4f4f4f;
}

.social-buttons a.login-bsky {
    border: 1px solid #0051b1;
    background:
        url(/img/bsky.png) 14px center no-repeat,
        url(/img/bskybutton.png) 0 bottom repeat-x #8ec4ff;
}

.setup-modal#x-login {
    background:
        url(/img/xlogo-modal.png) center 40px no-repeat,
        #000;
    height: 480px;
}

.setup-modal#x-login .form {
    margin-top: 140px;
}

.setup-modal#x-login .form > p {
    color: #fff;
    font-size: 25px;
    text-align: center;
}

.setup-modal#x-login .form > .code {
    display: block;
    text-align: center;
    width: 230px;
    color: #fff;
    height: 65px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 36px;
    padding: 5px;
    text-shadow: 0px -2px rgba(0, 0, 0, 0.2);
    border: 1px solid #b0b0b0;
    box-shadow: 0px -1px 1px 0px #c4c4c4;
    background: rgba(255, 255, 255, 0.25);
    margin: 30px auto;
}

.setup-modal#bsky-login {
    height: 480px;
    background:
        url(/img/bluesky-logo.png) center 44px no-repeat,
        url(/img/bskymodal-bg.png) 0 0 no-repeat,
        #084585;
}

.setup-modal#bsky-login .dialog-buttons {
    padding-bottom: 0px;
}

.setup-modal#bsky-login .form {
    margin-top: 125px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    margin-bottom: 30px;
}

.setup-modal#bsky-login .form input {
    display: block;
    width: 400px;
    position: relative;
    border-radius: 5px;
    border: 2px solid #afafaf;
    height: 50px;
    margin: 10px 0px;
    box-sizing: border-box;
    font-size: 22px;
    padding: 6px 10px;
}

.setup-modal#bsky-login .form > p {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}
